############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

############################
# Python Virtual Environments
############################
venv/
.venv/
env/
ENV/

model/venv/
model/.venv/

############################
# TensorFlow / Models
############################
*.h5
*.keras
*.pb
*.ckpt
*.weights

############################
# Uploads
############################
model/uploads/
uploads/

############################
# Environment Variables
############################
.env
.env.*

############################
# VS Code
############################
.vscode/

############################
# React / Vite
############################
frontend/node_modules/
frontend/dist/

############################
# Logs
############################
*.log

############################
# OS
############################
Thumbs.db
.DS_Store